<!DOCTYPE html>
<html>
<head>
   <include file="common:header"/>
    <title>懒虫商城-个人中心</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="Images/ico/favicon.ico" type="image/x-icon">
  
</head>
<body>

    <div class="ng-scope">
        <div class="header ng-scope">

            <img src="__PUBLIC__/Home/img/tou.png" class="img">
            <p class="mobile ng-binding">15625632565</p>
            <p class="nickname ng-binding">阿拉伯联合酋长国-村长</p>
        </div>
        <div style="clear:both;background:#E0E0E0;height:5px;" class="ng-scope"></div>
        <ul class="headerlist ng-scope">
            <li class="ng-binding">
                消费积分余额 ￥100.00
            </li>
            <li class="ng-binding">
                累计消费 ￥0.00
            </li>
        </ul>
        <div style="clear:both;background:#E0E0E0;height:5px;" class="ng-scope"></div>
        <ul class="userlist ng-scope">
            <li>
                <a href="#">
                    <p class="ico ico-reward"></p>
                    <p>每日签到</p>
                </a>
            </li>
            <li>
                <a href="order.html">
                    <p class="ico ico-order"></p>
                    <p>我的订单</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="ico ico-recommend"></p>
                    <p>推荐有礼</p>
                </a>
            </li>
            <li>
                <a href="memberPoints.html">
                    <p class="ico ico-coupon"></p>
                    <p>积分明细</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p class="ico ico-about"></p>
                    <p>关于我们</p>
                </a>
            </li>
            <li>
                <a href="comments.html">
                    <p class="ico ico-customer"></p>
                    <p>客服/反馈</p>
                </a>
            </li>
        </ul>
    </div>
    <!--底部导航-->
    <nav class="ng-scope">
        <ul class="nav">
            <li>
                <a href="shop.html">
                    <img src="__PUBLIC__/Home/img/foot01.png" alt="">
                    <p>超市</p>
                </a>
            </li>
            <li>
                <a href="cart.html">
                    <img src="__PUBLIC__/Home/img/foot02.png" alt="">
                    <p>购物车</p>
                </a>
                <i id="cartnum" class="ng-binding cartnum">0</i>
            </li>
            <li>
                <a href="member.html">
                    <img src="__PUBLIC__/Home/img/foot03.png" alt="">
                    <p>我的</p>
                </a>
            </li>
            <li>
                <a href="order">
                    <img src="__PUBLIC__/Home/img/foot04.png" alt="">
                    <p>订单</p>
                </a>
            </li>
        </ul>
    </nav>
    <!--/底部导航-->
</body>
</html>
