<!DOCTYPE html>
<html>
<head>
    <include file="common:header"/>
    <title>懒虫商城-订单</title>
    <link rel="shortcut icon" href="Images/ico/favicon.ico" type="image/x-icon">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/response.css" />
</head>
<body>

    <div class="ng-scope">
        <header class="ng-scope">
            <h4 class="title-order">
                <a class="title-top" href="member.html">我的订单</a>
            </h4>
            <ul class="navlist">
                <li type="lists" class="rightborder active">超市订单</li>
                <li type="tof">外卖订单</li>
            </ul>
        </header>
        
                <div class="orderlist" id="order_lists">
                <foreach name="all" item="vo" key='k'>
            <ul class="lists ng-scope">
                <li>
                    <p>{$vo.time|default=time()|date="Y-m-d H:i:s",###}<span class="status">
                    <if condition="$vo[cancel] eq 1">
                    已取消
                    <else />
                    未取消
                    </if>
                    </span></p>
                    <p>{$vo.number}</p>
                    <p>订单备注：{$vo.text}</p>
                    <p>收货地址：{$vo.shipping}</p>
                    <ul class="pdtlist">
                        <li>
                            <div class="l">
                                <img src="__PUBLIC__/Home/img/lists/{$vo.src}" class="img-responsive" alt="..." />
                            </div>
                            <div class="r">
                                <p class="t">{$vo.name}</p>
                                <p class="money">￥{$vo.pass}</p>
                                <p class="jf">送积分：0</p>
                            </div>
                        </li>
                    </ul>
                     
                    <div class="bottom">
                        <p>总计：￥21.78 元  积分抵扣：￥0.00 元</p>
                        <p class="money">实付：￥21.78元</p>
                        <a href="{:U('delete',['id'=>$vo['id']])}">删除记录</a>
                    </div>
                </li>

            </ul>
            </foreach>
        </div>
     <div class="orderlist" id="order_tof" style="display:none;">
           
           <foreach name="add" item="v">
           <ul class="lists ng-scope">
               <li>
                  
                   <p>{$v.time|default=time()|date="Y-m-d H:i:s",###} <span class="status">
                   
                  <if condition="$v[cancel] eq 1">
                    已取消
                    <else />
                    未取消
                    </if>

                   </span></p>

                   <p>订单编号：{$v.number}</p>
                   <p>订单备注：{$v.text} </p>
                   <p>收货地址：{$v.shipping} </p>
                   <ul class="pdtlist">
                       <li>
                           <div class="l">
                               <img src="__PUBLIC__/Home/img/tof/{$v.src}" class="img-responsive" alt="..." />
                           </div>
                           <div class="r">
                               <p class="t">{$v.name}</p>
                               <p class="money">￥{$v.price}</p>
                              
                           </div>
                       </li>
                   </ul>
                   
                   <div class="bottom">
                       <p>总计：￥{$v.price} 元  </p>
                       <p class="money">实付：{$v.price}元</p>
                       <a href="{:U('delete1',['id'=>$v['id']])}">删除记录</a>
                   </div>
               </li>
           </ul> 
           </foreach>
       </div>
    </div>
</body>
</html>

