<!DOCTYPE html>
<html>
<head>
    <include file="common:header"/>
    <title>懒虫商城-收货地址列表</title>
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/response.css" />-->
</head>
<body>
<div class="cartpay ng-scope ">
    <div class="take-delivery">
        <foreach name="all" item="v" key="k">
            <div class="addr">
                <p style="color:#FA2C2A" class="ng-binding">收货地址：共和丰大厦</p>
                <p style="font-size:12px;color:#666" class="ng-binding">收货人：{$v.name} {$v.phone} </p>
                <p style="font-size:12px;color:#666" class="ng-binding">详细地址：共和丰大厦 {$v.selected1} {$v.fang}</p>
                <p class="edit"><a href="{:U('edit_address','id='.$v['id'])}">修改</a></p>
            </div>
        </foreach>
        </div>
</div>
</body>
</html>